.fede{
	position: absolute;
	margin-top: -5%;
	margin-left: -2%;
}
body{
	background-color: #F9FFFC;
	}
.perfil{
	margin-top: -15px;
	margin-left: 100px;
	height: 30px;
	width: 30px;
}
.texto{
	margin-top: 55px;
	margin-left: 450px;
	text-align: center;
	font-family: Aharoni;
}
.cuerpo{
	margin-top: 150px;
	text-align: center;
	font-family: Aharoni;
	color: #052E02;
}
.fin{
	margin-top: -10px;
	margin-left: -2%;
}
#boton{
	margin-left: 320px;
}
ul,ol{
      list-style: none;
      }
.boto li a{
        background-color: #47C686;
        color: black;
        text-decoration: none;
        border-radius:10px 30px 10px 30px;
        float:left;
        display: block;
        right: 100px;
        top: 100px;
    }
.boto li a:hover{
        background-color: #85CEF3;
        }
 .boto li ul {
        display: none;
        position: absolute;
        min-width: 1385px;
        margin-top: 189px;
        margin-left: -285px;
          }

.boto li:hover>ul{
  display: block;
}

.boto li ul li {
  position: relative;
}
.nav > li {

        float:top;

          }
.Proximamente{
	color: #052E02;
	font-family: Aharoni;
}
.Titulo{
	color: #052E02;
	font-family: Aharoni;
}